<h1><%= t("bookmarks.bookmarks") %></h1>

<% if @bookmarks.count > 0 %>
<table>
  <thead>
    <tr>
      <th><%= t("bookmarks.post") %></th>
    </tr>
  </thead>

  <tbody>
    <% @bookmarks.reverse.each do |bookmark| %>
      <tr>
        <td><%= link_to bookmark.post.title, bookmark.post %></td>
        <td><%= link_to t("destroy"), bookmark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>

  <%= content_tag :br %>
  <%= content_tag :h2, t("bookmarks.emptyBookmarks") %>

<% end %>

<br>

<%= link_to t("back"), :back, class: "cool" %>
