<script type="text/javascript">

$(document).ready(function() {

  new_ajax_refresh("/refresh_comments", window.location.pathname, {post_id:<%= @post.id %>}, 2000);

});

</script>

<%= content_tag :h1, t("comments.indexTitle") << Post.find(params[:post_id]).title %>
<br>
<h2><%= t("comments.comments") %></h2>

<%= render "comments/show" %>

<br>

<%= link_to t("back"), @origin_url, class: "cool" %>
<%= link_to t("comments.new"), new_post_comment_path(@post), class: "cool" %>
