<h1><%= t("comments.comments") %></h1>

<br>
<%= content_tag :h2, Post.find(params[:post_id]).title %>

<table>
  <thead>
    <tr>
      <th><%= t("comments.comment") %></th>
      <th><%= t("comments.user") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= link_to comment.commentText, post_comment_path(comment, @post) %></td>
        <td><%= comment.user.email %></td>
        <td><%= link_to t("edit"), edit_post_comment_path(@post, comment) %></td>
        <td><%= link_to t("destroy"), [@post, comment], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t("comments.new"), new_post_comment_path(@post) %>
