<div class="comment">

  <strong><%= t("comments.post") %>:</strong>
  <p>
    <%= @comment.post.title %>
  </p>

  <strong><%= t("comments.comment") %>:</strong>
  <p>

    <%= @comment.commentText %>
  </p>

  <p>
    <strong><%= t("comments.user") %>:</strong>
    <%= @comment.user.email %>
  </p>

  <%= link_to t("edit"), edit_post_comment_path(@post, @comment) %> |
  <%= link_to t("back"), post_comments_path(@post) %>

</div>
