<div class="comment">

  <strong><%= t("comments.post") %>:</strong>
  <p>
    <%= @comment.post.title %>
  </p>

  <strong><%= t("comments.comment") %>:</strong>
  <p>

    <%= @comment.commentText %>
  </p>


    <strong><%= t("comments.user") << ": " << @comment.user.username %></strong>

    <br>


  <%= link_to t("back"), @post %>
  <% if current_user.id == @comment.user_id%>
  | <%= link_to t("destroy"), [@post, @comment], method: :delete, data: { confirm: 'Are you sure?' }%>
  <%end%>
  <%= content_tag :strong, @comment.created_at.strftime("%H:%M %d/%m/%Y"), class: "date" %>

</div>
