<header>

  <ul class="navbar">

    <div class="left">
      <li><a href="/"> <%= t("application.header.navbar.home") %> </a></li>
      <li><a href="/contact"><%= t("application.header.navbar.contact") %></a></li>

      <% if user_signed_in? %>
        <%= content_tag :li, link_to("Posts", "/posts") %>
        <%= content_tag :li, link_to("My Bookmarks", "/bookmarks")%>
        <% end %>

    </div>

    <div class="right">

      <% if user_signed_in? %>
        <%= content_tag :li, link_to(t("users.login.logout"), destroy_user_session_path, method: "delete") %>
        <%= content_tag :li, content_tag(:a, t("application.header.navbar.profile"), href: edit_user_registration_path) %>
      <% else %>
        <%= content_tag :li, content_tag(:a, t("users.login.signup"), href: new_user_registration_path) %>
        <%= content_tag :li, content_tag(:a, t("users.login.login"), href: new_user_session_path) %>
      <% end %>

    </div>

  </ul>

<% flash.each do |key, value| %>
  <%= content_tag :div, content_tag(:p, value), id: "#{key}", class: "flash" unless value.blank? %>
  <% end %>

</header>
