<p><%= t('home.contact.form.preview.dear') %> <%= t("application.title") %></p>
<p><%= t('home.contact.form.preview.message') %></p>

<dl>
  <dt><%= t('home.contact.form.name') %></dt>
  <dd><%= @name %></dd>
  <dt><%= t('home.contact.form.email') %></dt>
  <dd><%= @email %></dd>
  <dt><%= t('home.contact.form.rason') %></dt>
  <dd><%= @reason %></dd>
</dl>

<p><%= @message %></p>
<p><%= t('home.contact.form.preview.thanks') %></p>
<p><%= @name %></p>
