<p>Dear <%= t("en.application.title") %></p>
<p>I am having some trouble with my module selection. Could you get in contact with me?</p>

<dl>
  <dt>Name:</dt>
  <dd><%= @name %></dd>
  <dt>Email:</dt>
  <dd><%= @email %></dd>
  <dt>Telehpone</dt>
  <dd><%= @telephone %></dd>
</dl>

<p><%= @message %></p>
<p>Thanks,</p>
<p><%= @name %></p>
