
<script type="text/javascript">

  $(document).ready(function() {

    var title = $("#title");
    var text = $("#text");
    var file = $("#file");
    var allowedExt = ["png", "jpg", "jpeg"];

    $("input:submit").click(function() {

      titleval = title.val();
      textval = text.val();
      fileval = file.val();

      if(titleval.length > 0) {

        if(!allowedExt.includes(fileval.split(".").pop()) && fileval != "") {

          alert("Invalid extension type.");
          event.preventDefault();

        } else {
          if(textval.length == 0) {

            var ans =confirm("Are you sure you want to leave the text empty?");

            if(! ans) {

              event.preventDefault();

          }
        }
      }

      } else {

        alert("Title cant be left empty");
        event.preventDefault();

      }
    });
  });

</script>

<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: "title" %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, id: "text" %>
  </div>

  <div class="field">

    <%= form.label t("post.img") %>
    <%= form.file_field :img, accept: ".png, .jpg, .jpeg", id: "file" %>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
