
<script type="text/javascript">

  $(document).ready(function() {

    var title = $("#title");
    var text = $("#text");

    $("input:submit").click(function() {

      titleval = title.val();
      textval = text.val();

      if(titleval.length > 0) {

        if(textval.length == 0) {

          var ans =confirm("Are you sure you want to leave the text empty?");

          if(! ans) {

            event.preventDefault();

          }
        }

      } else {

        alert("Title cant be left empty");
        event.preventDefault();

      }
    });
  });

</script>

<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: "title", size: 80 %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, id: "text" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
