<h1><%= t("post.edit_post.editing") %></h1>

<%= render 'form', post: @post %>

<br>

<div class="inlineControls">

  <%= link_to t("post.show"), @post, class: "cool" %>
  <%= content_tag :h2, "|" %>
  <%= link_to t("post.back"), posts_path, class: "cool" %>

</div>
