<h1><%= t("post.posts") %></h1>

<br>

<%= link_to t("post.index.newpost"), new_post_path, id: "newPost", class: "cool" %>

<table>
  <thead>
    <tr>
      <th><%= t("post.title") %></th>
      <!-- <th><%= t("post.text") %></th> -->
      <th><%= t("post.user") %></th>
      <th><%= t("post.created_at") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tr>
    <td></td>
  </tr>

  <tbody>
    <% @posts.reverse.each do |post| %>
      <tr>
        <td><%=link_to post.title, post %></td>
        <!-- <td><%= post.text %></td> -->
        <td><%= post.user.username %></td>
        <td><%= post.created_at.strftime("%H:%M %d/%m/%Y") %></td>
        <!-- <td><%= link_to t("post.show"), post %></td> -->
        <td>
        <% if Bookmark.user_bookmarks(current_user).exists?(post_id: post.id) %>
          <%= link_to t("posts.removeBookmark"), bookmark_path( Bookmark.user_bookmarks(current_user).find_by(post_id: post.id) ), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% else %>
          <%= link_to t("posts.addBookmark"), bookmarks_path(post_id: post.id), method: :post %>
        <% end %>
        </td>
        <td><%= link_to t("post.showComments"), post_comments_path(post)%></td>
        <% if post.user == current_user%>
          <%= content_tag :td, ( link_to t("edit"), edit_post_path(post) )%>
          <%= content_tag :td, ( link_to t("destroy"), post, method: :delete, data: { confirm: t("post.index.confirm") } )%>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
