<div class = "post">

  <strong><%= t("post.title") %>:</strong>
  <br>
  <p class="title">
    <%= @post.title %>
  </p>


  <strong><%= t("post.text") %>:</strong>
  <br>
  <p>
    <%= @post.text %>
  </p>


  <strong><%= t("post.user") %>:</strong>
  <br>
  <p>
    <%= @post.user.email %>
  </p>

  <div class = "controls">
    <br>
    <% if @post.user == current_user %>

      <%= link_to t("post.edit"), edit_post_path(@post) %>
      <%= link_to t("post.destroy"), @post, method: :delete, data: { confirm: t("post.index.confirm") } %>
    <% end %>
    <br>
    <%= link_to t("post.back"), posts_path %>
  </div>
</div>
