<div class = "post">

  <strong><%= t("post.title") %>:</strong>
  <br>
  <p class="title">
    <%= @post.title %>
  </p>


  <strong><%= t("post.text") %>:</strong>
  <br>

  <p><%= @post.text %></p>


  <strong><%= t("post.user") << ": " << @post.user.email %></strong>

  <br>

  <div class = "controls">
    <br>
    <% if current_user == @post.user %>
      <%= link_to t("edit"), edit_post_path(@post), class: "cool" %>
      <%= link_to t("destroy"), @post, class: "cool", method: :delete, data: { confirm: t("post.index.confirm") } %>
      <%= content_tag :br %>
    <% end %>

    <br>
    <%= link_to t("back"), posts_path, class: "cool" %>
    <% if Bookmark.user_bookmarks(current_user).exists?(post_id: @post.id) %>
      <%= link_to t("posts.removeBookmark"), bookmark_path( Bookmark.user_bookmarks(current_user).find_by(post_id: @post.id) ), method: :delete, data: { confirm: 'Are you sure?' }, class: "cool" %>
    <% else %>
      <%= link_to t("posts.addBookmark"), bookmarks_path(post_id: @post.id), method: :post, class: "cool" %>
    <% end %>
    <br>
  </div>
</div>

<%= render "comments/show"%>

<div class="inlineControls">

  <%= link_to t("comments.showAll"), post_comments_path(@post), class: "cool" %>
  <%= content_tag :h2, "|" %>
  <%= link_to t("comments.new"), new_post_comment_path(@post), class: "cool" %>

</div>
