<p><%= t("users.login.hello") %> <%= @resource.email %>!</p>

<p><%= t("users.login.passchangerequest") %></p>

<p><%= link_to t("users.login.changemypassword"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t("users.login.passchangerequestmsg1") %></p>
<p><%= t("users.login.passchangerequestmsg2") %></p>
