<p><%= t("users.login.hello") %> <%= @resource.email %>!</p>

<p><%= t("users.login.lockedmsg1") %></p>

<p><%= t("users.login.lockedmsg2") %></p>

<p><%= link_to t("users.login.unlockmyaccount"), unlock_url(@resource, unlock_token: @token) %></p>
